h1 { margin:5% 0;}
h1, .tagline { text-align:center;}
#profile-heading { overflow:auto;}
#profile-headings { margin:0;padding-left:15px;}
#profile-headings h1 { margin:0; margin-top:15px; text-align:left;}
#personal-info-block { margin:0; border:3px dashed #DDD; min-height:140px; padding:10px; font-size:9pt;}
#personal-info-block h3 { font-size:11pt; font-variant:small-caps;}
.love { color:red;}
input { height:auto !important;}
.profiles  { list-style-type:none;}
.profiles a { display:block;}
.profiles img { width:260px; height:180px;}
.profiles .profileOwner { display:block; text-align:center; font-size:12pt;}
#misc-block { width: 80%;}
#misc-block blockquote { margin: 15px;}
#misc-block, #misc-block input { margin:0;}
#logo { width:16px; height:16px; display:inline;}
footer { background-color: white; border: 1px solid #EEE; padding: 5px; position: fixed; bottom: 5px; right: 10px;}
footer p { margin:0;}
